<div class="w-full list-header">
    <p class="text-center text-6xl text-white font-bold">Super Heroes</p>


  
    <searcher (voutput_onSearch)="handleSearch($event)"/>

    <button 
        alt="Button new super hero"
        pButton 
        pRipple 
        icon="pi pi-plus"         
        label="New super hero"         
        severity="warning"
        (click)="handleClickNewHero()">
    </button>
</div>
<div class="list-content">  
    @if(vIsLoaded) {
        <div class="card pt-3">
            
            <p-dataView [rows]="10"                    
                        [value]="lst_Characters | valueFilter: 'name' : vTextSearched" 
                        [lazy]="true"
                        #dv>
                <ng-template pTemplate="list" let-characters>
                    <div class="grid grid-nogutter">
                        @for(character of characters; track character.id) {
                            <character-card 
                                class="w-full"
                                [vinput_rowCharacter]="character"  
                                (voutput_onEdit)="handleClickEdit($event)"
                                (voutput_onDelete)="handleClickDelete($event)"/>
                        }
                    </div>
                </ng-template>
            </p-dataView>
        </div>
    } @else {
        <div class="flex align-items-center justify-content-center w-full h-full">
            <p-progressSpinner ariaLabel="loading" />
        </div>
    }
</div>