<div class="p-3">
    <searcher (voutput_onSearch)="handleSearch($event)"/>

    <button 
        alt="Button new super hero"
        pButton 
        pRipple 
        icon="pi pi-plus"         
        label="New super hero"         
        severity="warning"
        (click)="handleClickNewHero()">
    </button>


    <div class="card pt-3">
        
        <p-dataView [rows]="10"                    
                    [value]="lst_Characters"
                    [lazy]="true"          
                    [loading]="!vIsLoaded"
                    [loadingIcon]="'pi pi-spinner'"
                    (onPage)="handlePage($event)"
                    #dv>
            <ng-template pTemplate="list" let-characters>
                <div class="grid grid-nogutter">
                    @for(character of characters; track character.id) {
                        <character-card 
                            class="w-full"
                            [vinput_rowCharacter]="character"  
                            (voutput_onEdit)="handleClickEdit($event)"
                            (voutput_onDelete)="handleClickDelete($event)"/>
                    }
                </div>
            </ng-template>
        </p-dataView>

    </div>
</div>