<div class="col-12 border-top-1 surface-border">
    <div class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3">
        <div class="md:w-10rem relative">
            <img class="block xl:block mx-auto border-round w-full" 
                [src]="row_Character.image" 
                [alt]="row_Character.name" />                        
        </div>
        <div class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
            <div class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
                <div>                                
                    <div class="text-lg font-medium text-900 mt-2">
                        {{ row_Character.name }}
                    </div>
                    <p>
                        {{row_Character.description}}
                    </p>
                </div>
            </div>
            <div class="flex flex-column md:align-items-end gap-5">                            
                <div class="flex flex-row-reverse md:flex-row gap-2">                                
                    <p-button 
                        class="flex-auto md:flex-initial white-space-nowrap"
                        icon="pi pi-pencil"                                        
                        severity="success" 
                        (click)="handleClickEdit(row_Character.id)"/>

                    <p-button 
                        alt="Button Delete super hero"    
                        class="flex-auto md:flex-initial white-space-nowrap"
                        icon="pi pi-trash" 
                        severity="danger" 
                        (click)="handleClickDelete(row_Character.id)"/>
                </div>
            </div>
        </div>
    </div>
</div>