<form [formGroup]="formCharacterGroup">
    <div class="grid">
        <div class="col-12 lg:col-4 md:col-5 sm:col-12 text-center">            
            <image-uploader 
                [hero]="hero()"
                (onUploadFile)="onUploadImage($event)" />        
        </div>

        <div class="col-12 lg:col-8 md:col-7 sm:col-12">
            <div class="field">
                <mat-form-field class="w-full">
                    <mat-label>Name: </mat-label>
                    <input 
                        matInput 
                        placeholder="Name" 
                        TextUppercase
                        value="{{hero()?.name}}"
                        formControlName="name">
                  </mat-form-field>
                <!--
                <input 
                    id="txtSuperHeroName"
                    name="txtSuperHeroName"
                    class="w-full ng-invalid ng-dirty"
                    formControlName="name"
                    [ngClass]="{'ng-invalid ng-dirty': formCharacterGroup.get('name')?.errors}" 
                    TextUppercase  
                    pInputText
                    type="text" />

                -->
                <!--<span *ngIf="formCharacterGroup.get('name')?.errors" class="error-message">This field is required</span>-->
                
            </div>

            <div class="field">            
                  <mat-form-field class="w-full">
                    <mat-label>Description: </mat-label>
                    <textarea 
                        name="description"
                        matInput 
                        placeholder="Hero description"
                        value="{{hero()?.description}}"
                        formControlName="description"></textarea>
                  </mat-form-field>
            </div>
        </div>
    </div>
</form>