<form enctype="multipart/form-data" [formGroup]="formCharacterGroup">
    <div class="grid">
        <div class="col-12 lg:col-4 md:col-5 sm:col-12 text-center">
            <img class="pb-3 block xl:block mx-auto border-round hero-image bg-black-alpha-90"      
                width="350"
                height="350"                
                [src]="row_SuperHero.image || 'http://i.annihil.us/u/prod/marvel/i/mg/b/40/image_not_available.jpg'" 
                [alt]="row_SuperHero.name" 
                #ctrlSuperHeroImage/> 


            <p-fileUpload 
                mode="basic" 
                [style]="{width: '350px'}"                            
                chooseLabel="Choose" 
                chooseIcon="pi pi-upload"
                name="demo[]"                  
                accept="image/*" 
                maxFileSize="1000000" 
                (onSelect)="onUpload($event)" />                
        </div>

        <div class="col-12 lg:col-8 md:col-7 sm:col-12 pr-5">
            <div class="field">
                <label 
                    alt="Super Hero Name"
                    class="text-white"
                    for="txtSuperHeroName">
                    Name: 
                </label>

                <input 
                    id="txtSuperHeroName"
                    name="txtSuperHeroName"
                    class="w-full ng-invalid ng-dirty"
                    formControlName="name"
                    [ngClass]="{'ng-invalid ng-dirty': formCharacterGroup.get('name')?.errors}" 
                    TextUppercase  
                    pInputText
                    type="text" />

                
                <span *ngIf="formCharacterGroup.get('name')?.errors" class="error-message">This field is required</span>
                
            </div>

            <div class="field">
                <label 
                    alt="Super Hero Description"
                    class="text-white"
                    for="txtSuperHeroDescription">
                    Description: 
                </label>

                <textarea 
                    rows="5" 
                    cols="30" 
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                    pInputTextarea 
                    formControlName="description">
                </textarea>    
            </div>
        </div>
    </div>
</form>
