<div class="pt-6 pl-3 pr-3 pb-6">
    <app-title text="List of Heroes" />

    <searcher (voutput_onSearch)="handleSearch($event)"/>

    <section style="z-index: 1;">
        <div class="grid">            
            @for(hero of appCharacterService.heroes(); track hero.id){
                <div class="col-12 sm:col-12 md:col-6 lg:col-4">
                    <character-card-item 
                        [hero]="hero" 
                        (onEdit)="handleClickEdit($event)"
                        (onDelete)="handleClickDelete($event)"/>
                </div>
            }                        
        </div>
    </section>

    <mat-paginator 
        [length]="appCharacterService.totalItems()"
        [pageSize]="6"
        [pageSizeOptions]="[6, 12, 24, 100]"
        [showFirstLastButtons]="true"
        (page)="handlePageEvent($event)"
        aria-label="Select page"
        #ctrlPaginator>
    </mat-paginator>

</div>