<div class="w-full text-left text-white pl-3">    
    <h2 class="text-4xl">
        @if(vIsNew) {
            New Super Hero
        }@else {
            Edit {{(rowHero$ | async)?.name}}
        }
    </h2>
</div>


<div class="grid pt-3">
    <div class="col-12">
        <button 
            alt="Button back to list"
            class="ml-3 mr-2"
            pButton 
            pRipple 
            icon="pi pi-arrow-left"                     
            severity="warning"            
            (click)="handleClickBack()">
        </button>
    
        <button                 
            alt="Button save super hero"            
            pButton 
            pRipple 
            icon="pi pi-save"                     
            severity="warning"    
            [disabled]="!isValid"                       
            (click)="handleClickSave()">
        </button>
    </div>
</div>

<div class="grid">
    <div class="col-12">
        <charecter-form             
            [vinput_rowHero$]="rowHero$"
            #ctrlCharacterForm />
    </div>
</div>    

