
<div class="grid pt-3">
    <div class="col-12">
        <button 
            alt="Button new super hero"
            class="ml-3 mr-2"
            pButton 
            pRipple 
            icon="pi pi-arrow-left"                     
            severity="warning"            
            (click)="handleClickBack()">
        </button>

        <button 
            alt="Button new super hero"            
            pButton 
            pRipple 
            icon="pi pi-save"                     
            severity="warning"
            [disabled]="!formGroup.valid"
            (click)="handleClickBack()">
        </button>
    </div>
</div>

<div class="grid">
    <div class="col-12">
        <form enctype="multipart/form-data" [formGroup]="formGroup">
            <div class="grid">
                <div class="col-3">
                    <img class="block xl:block mx-auto border-round hero-image" 
                        [src]="row_SuperHero.thumbnail.path + '.' + row_SuperHero.thumbnail.extension" 
                        [alt]="row_SuperHero.name" />  

                        <div class="text-center p-3">
                            <p-fileUpload 
                                styleClass="w-full"
                                mode="basic" 
                                chooseLabel="Choose" 
                                chooseIcon="pi pi-upload"                            
                                accept="image/*" 
                                maxFileSize="1000000" />
                        </div>
                </div>

                <div class="col">
                    <div class="field">
                        <label 
                            alt="Super Hero Name"
                            class="text-white"
                            for="txtSuperHeroName">
                            Name: 
                        </label>

                        <input 
                            id="txtSuperHeroName"
                            name="txtSuperHeroName"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                            formControlName="name"   
                            pInputText
                            type="text" />
                    </div>

                    <div class="field">
                        <label 
                            alt="Super Hero Description"
                            class="text-white"
                            for="txtSuperHeroDescription">
                            Description: 
                        </label>

                        <textarea 
                            rows="5" 
                            cols="30" 
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                            pInputTextarea 
                            formControlName="description">
                        </textarea>    
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>