
<mat-form-field class="w-full">
    <mat-label>Search super hero</mat-label>
    <input         
        type="text" 
        matInput 
        placeholder="Search super hero" 
        (keyup.enter)="handleClickSearch()"
        [(ngModel)]="vSearchText"
        #ctrlInputSearchHero />
        
        <mat-icon matSuffix>search</mat-icon>
</mat-form-field>



<!--
<p-inputGroup>        
    <input 
        type="text" 
        pInputText 
        placeholder="Search super hero" 
        TextCapitalize
        (keyup.enter)="handleClickSearch()"
        [(ngModel)]="vSearchText"
        #ctrlInputSearchHero/>    
        
    <button type="button"
        pButton
        label="Reset"
        icon="pi pi-times"
        severity="help"
        (click)="handleClickReset()">
    </button>     

    <button type="button" 
        pButton 
        label="Search"
        icon="pi pi-search"
        (click)="handleClickSearch()">
    </button>
</p-inputGroup>
-->