<p-inputGroup class="pb-3">    
    <input 
        type="text" 
        pInputText 
        placeholder="Search super hero" 
        TextCapitalize
        (keyup)="handleClickSearch(ctrlInputSearchHero.value)"        
        #ctrlInputSearchHero/>

        <p-inputGroupAddon>
            <i class="pi pi-search"></i>
        </p-inputGroupAddon>
        
    <!--<button type="button"
        pButton
        label="Reset"
        icon="pi pi-times"
        severity="help"
        (click)="handleClickReset()">
    </button>     

    <button type="button" 
        pButton 
        label="Search"
        icon="pi pi-search"
        (click)="handleClickSearch(ctrlInputSearchHero.value)">
    </button>-->
</p-inputGroup>
