<form enctype="multipart/form-data" [formGroup]="formCharacterGroup">
    <div class="grid">
        <div class="col-3 md:col-4 sm:col-12">
            <img class="pb-3 block xl:block mx-auto border-round hero-image"      
                width="350"
                height="350"
                [src]="row_SuperHero.image || 'http://i.annihil.us/u/prod/marvel/i/mg/b/40/image_not_available.jpg'" 
                [alt]="row_SuperHero.name" 
                #ctrlSuperHeroImage/> 


            <p-fileUpload 
                mode="basic" 
                styleClass="w-full"
                chooseLabel="Choose" 
                chooseIcon="pi pi-upload"
                name="demo[]"                  
                accept="image/*" 
                maxFileSize="1000000" 
                (onSelect)="onUpload($event)" />                
        </div>

        <div class="col md:col-8 sm:col-12">
            <div class="field">
                <label 
                    alt="Super Hero Name"
                    class="text-white"
                    for="txtSuperHeroName">
                    Name: 
                </label>

                <input 
                    id="txtSuperHeroName"
                    name="txtSuperHeroName"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                    formControlName="name"   
                    pInputText
                    type="text" />
            </div>

            <div class="field">
                <label 
                    alt="Super Hero Description"
                    class="text-white"
                    for="txtSuperHeroDescription">
                    Description: 
                </label>

                <textarea 
                    rows="5" 
                    cols="30" 
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                    pInputTextarea 
                    formControlName="description">
                </textarea>    
            </div>
        </div>
    </div>
</form>
