<div class="w-full pt-6 pl-3">    
    <h2 class="text-4xl">
        <app-title text="{{isNew() ? 'New Super Hero' : 'Edit ' + hero()?.name}}" />
    </h2>
</div>

<div class="grid w-full pl-3 pl-3">
    <div class="col-12">
        
        <a  ariaCurrentWhenActive="page"                
            class="mr-2"    
            mat-fab 
            routerLink="/"
            routerLinkActive="activebutton">
            <mat-icon>arrow_back</mat-icon>
        </a>


        <button            
            type="button"
            mat-fab
            [disabled]="!isValid"
            (click)="handleClickSave()">
            <mat-icon>save</mat-icon>
        </button>
    </div>
</div>

<div class="grid pr-3">
    <div class="col-12">
        
        <charecter-form 
            [hero]="hero()"  
            (onChangeImage)="onChangeHeroImage($event)"
            #ctrlCharacterForm />    
    </div>
</div>    

